.header {
    padding: 8px 18px;
    border-bottom: 1px solid #1616161A;
}

.header_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.about {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    color: #5C5C5C;
}

.logo_middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    margin: 0 397px 0 507px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
}

.link {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    color: #5C5C5C;
}

.btn {
    padding: 12px 25px;
    background: #161616;
    color: white;
    border-radius: 100px;
    border: solid #161616;
    transition: 0.4s;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
}

.btn:hover {
    background: white;
    color: #161616;
    border: solid white;
}