.paint {
    margin-top: 80px;
    background: url(../img/bg.svg) no-repeat top center/cover;
    height: 870px;
    padding: 35px 120px 0;

}

.paint_desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.paint_h {
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 1px;
    text-align: center;
    color: #161616;
    margin-bottom: 30px;
}

.paint_p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #161616;
    max-width: 791px;
}

.panel{
    margin-top: 519px;
}